@model Inventario_Alimentacion.Models.Donante

@{
    ViewBag.Title = "Jefe";
    Layout = "~/Views/Shared/_Layoutjefe.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h1 style="text-align: center">
    <strong class="title">EDITAR DONANTES</strong>
</h1>
<div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Donante)

        <div class="form-group">
            @Html.Label("Nombre del donante: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Don_Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Don_Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" /> |
                @Html.ActionLink("Volver a la lista", "BusquedaFilter")
            </div>
        </div>
    </div>
}