@model IEnumerable<Inventario_Alimentacion.Models.Categoria>

@{
    ViewBag.Title = "Jefe";
    Layout = "~/Views/Shared/_Layoutjefe.cshtml";
}

    <link href="~/Content/Site.css" rel="stylesheet" />
    <section>
        <table class="table-condensed" width="50%" align="center">
            <tr>
                <td>
                    @Html.ActionLink("Categorias", "BusquedaFilter", "Categorias",null, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Subcategorias", "BusquedaFilter2", "Subcategorias",null, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Nombre  Productos", "BusquedaFilter3", "Nom_Producto",null, new { @class = "btn btn-info" })
                </td>
            </tr>
        </table>
    </section>

    <section>
        <h1 style="text-align: center">
            <strong  class="title" >CATEGORIAS</strong>
            @Html.ActionLink("CREAR", "Create", "Categorias", null, new { @class = "btn btn-success" })
        </h1>

        @using (Html.BeginForm("BusquedaFilter", "Categorias", FormMethod.Get))
        {
            <div class="form-horizontal" style="float: left">
                <h2>
                    Buscar Categoría: @Html.TextBox("cat")
                    <input type="image" alt="Submit" src="~/Imagen/search.png" class="img-btn" />
                </h2>
            </div>

        }

    </section>

        <table class="table" >
            <tr>
                <th style="text-align:center">
                    <strong>@Html.DisplayName("NOMBRE DE CATEGORÍA")</strong> 
                </th>
                <th><strong>@Html.DisplayName("EDITAR")</strong> </th>
                <th><strong>@Html.DisplayName("ELIMINAR")</strong> </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cat_Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Categoria }, new { @class = "img-btn-editar" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Categoria }, new { @class = "img-btn-borrar" })
                    </td>
                </tr>
            }

        </table>



