@model Inventario_Alimentacion.Models.Categoria

@{
    ViewBag.Title = "Jefe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center"><strong class="title">ELIMINAR CATEGORíA</strong></h1>
            <h3 style="text-align: center">¿Está seguro de eliminar esta categoría?</h3><br />
            <p style="text-align: center">NOTA: si intenta borrar una categoria que ya se relaciono en alguna salida o entrada no dejara borrar</p><br />
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="row">

            <div class="col-lg-3">

                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_Categoria)

            </div>
            <div class="col-lg-9">
                @Html.Label("Nombre de la Categoria: ", htmlAttributes: new { @class = "control-label" })<br />
                @Html.EditorFor(model => model.Cat_Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })<br />
                @Html.ValidationMessageFor(model => model.Cat_Nombre, "", new { @class = "text-danger" })<br />
                <input type="submit" value="ELIMINAR CATEGORíA" class="btn btn-danger" />
                |@Html.ActionLink("Volver a la lista", "BusquedaFilter")
            </div>
        </div>
    }
</div>
